.sell {
	display: flex;
	width: 100%;
	flex-direction: column;
	gap: 150px;

	&__body {
		display: flex;
		flex-direction: row-reverse;
		width: 100%;
		gap: 50px;

		@media (max-width: 700px) {
			flex-direction: column;
			align-items: center;
		}
	}
	&__text {
		display: flex;
		flex-direction: column;
		width: 50%;
		gap: 110px;

		@media (max-width: 700px) {
			width: 100%;
		}

		.create__block {
			display: flex;
			flex-direction: column;
			gap: 25px;
			align-items: center;
			width: 100%;

			button {
				width: 100%;
			}
			.done {
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 16px 24px;
				background-color: #50c878;
				border-radius: 16px;
				width: 50%;

				p {
					color: #ffffff;
				}
			}
		}
	}
	&__title {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: center;
	}
	&__forms {
		display: flex;
		flex-direction: column;
		gap: 35px;

		@media (max-width: 700px) {
			gap: 20px;
		}

		form {
			display: flex;
			flex-direction: column;
			gap: 20px;

			label {
				font-size: 20px;
				font-weight: 600;
			}
			input {
				padding: 20px 25px;

				background-image: url(../edit.svg);
				background-color: #efefef;
				background-position: right 17px top 13px;
				background-size: 22px;
				background-repeat: no-repeat;

				color: #9596a6;
				font-family: 'Poppins';
				font-weight: 400;
				font-size: 14px;
				outline: none;
				border: none;
				border-radius: 10px;

				line-height: 125%;
				@media (max-width: 700px) {
					padding: 15px 17px 15px 17px;
				}
			}
			select {
				padding: 20px 70px 20px 25px;

				background-image: url(../arrow.svg);
				background-color: #efefef;
				background-position: right 17px top 22px;
				background-size: 10px;
				background-repeat: no-repeat;

				appearance: none;
				-webkit-appearance: none;
				-moz-appearance: none;
				background-color: #efefef;
				color: #9596a6;
				font-family: 'Poppins';
				font-weight: 400;
				line-height: 100%;
				font-size: 14px;
				outline: none;
				border: none;
				border-radius: 10px;

				line-height: 125%;

				@media (max-width: 700px) {
					padding: 15px 17px 15px 17px;
				}
			}
		}
		&-dual {
			display: flex;
			flex-direction: row;
			gap: 35px;
			@media (max-width: 700px) {
				flex-direction: column;
				gap: 15px;
			}
		}
		&-toggle {
			flex-direction: row !important;
			justify-content: space-between;
			align-items: center;

			p {
				font-size: 14px;
			}

			input {
				padding: 5px;
			}
		}
		&-slider {
			position: relative;
			display: inline-block;
			width: 55px;
			height: 30px;

			input {
				display: none;
			}
			span {
				position: absolute;
				inset: 0;
				background: #d9d9d9;
				border-radius: 60px;
				transition: 0.3s;
			}
			span::before {
				content: '';
				position: absolute;
				width: 20px;
				height: 20px;
				left: 5px;
				top: 5px;
				background: black;
				border-radius: 50%;
				transition: 0.3s;
			}
			input:checked + span {
				background: black;
			}
			input:checked + span::before {
				transform: translateX(25px);
				background: white;
			}
		}
	}
	button {
		justify-content: center;
	}
	&__avatar {
		width: 50%;
		display: flex;
		flex-direction: column;
		gap: 50px;
		align-items: center;

		@media (max-width: 700px) {
			width: 100%;
		}

		&-block {
			display: flex;
			flex-direction: column;
			gap: 10px;
			justify-content: center;
			align-items: center;
			width: 65%;
			aspect-ratio: 1 / 1;
			border-radius: 30px;

			background-color: #fcfcfd;
			box-shadow: 40px 10px 60px 0 rgba(199, 199, 199, 0.6);

			@media (max-width: 700px) {
				width: 80%;
			}

			p {
				text-align: center;
			}
		}
		button {
			width: 50% !important;
		}
	}
}

.forms__description {
	input {
		padding: 25px 25px 115px 25px !important;
	}
}
