.more {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: end;

	a {
		color: #acadb9;
		text-wrap-mode: nowrap;
		gap: 15px;
		display: flex;
		flex-direction: row;
		align-items: center;

		img {
			width: 15px;
		}
	}
}
