.footer {
	display: flex;
	flex-direction: column;
	gap: 45px;
	background-color: #141416;
	padding: 100px 95px 80px 95px;

	@media (max-width: 1360px) {
		padding: 50px 30px 30px 30px;
	}
	&__nav {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		@media (max-width: 1360px) {
			flex-direction: column;

			ul {
				flex-direction: column !important;
				gap: 30px !important;
			}
			a {
				font-size: 14px !important;
				text-transform: uppercase;
			}
		}

		h4 {
			font-size: 30px;
			font-weight: 600;
			color: #ffffff;
		}
		ul {
			display: flex;
			flex-direction: row;
			gap: 70px;
		}
		a {
			color: #b9b9b9;
		}
	}
	&__title {
		display: flex;
		flex-direction: row;
		gap: 10px;
		align-items: center;
	}
	&__service {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		@media (max-width: 1360px) {
			flex-direction: column-reverse;
			gap: 15px;
		}

		ul {
			display: flex;
			flex-direction: row;
			gap: 50px;
		}
	}
}
