.collection {
	display: flex;
	flex-direction: column;
	gap: 90px;
	align-items: center;

	@media (max-width: 1360px) {
		gap: 40px;
	}

	&__table {
		width: 100%;
		display: flex;
		align-items: start;
		flex-direction: column;
		gap: 30px;
	}
	&__cols {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		span {
			font-weight: 500;
			font-size: 22px;
			color: #93989a;
		}
		#collection_description--adaptive {
			@media (max-width: 1360px) {
				flex-direction: column;
				gap: 5px;
				align-items: end;
			}
		}
	}
	&__description {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 95px;

		@media (max-width: 1360px) {
			span {
				font-size: 14px !important;
			}
		}
		span {
			color: #010101;
			font-size: 24px;
		}
	}

	&__person {
		display: flex;
		flex-direction: row;
		gap: 25px;
		align-items: center;

		@media (max-width: 1360px) {
			gap: 20px;
			p {
				font-size: 16px !important;
			}
			span {
				font-size: 14px !important;
			}
		}

		img {
			width: 75px;
			height: 75px;
			@media (max-width: 900px) {
				width: 46px;
				height: 46px;
			}
		}
		p {
			font-weight: 500;
			font-size: 28px;
			color: #141416;
			@media (max-width: 900px) {
				font-size: 16px;
			}
		}
		span {
			font-weight: 400;
			font-size: 22px;
			color: #64748b;
			@media (max-width: 900px) {
				font-size: 12px;
			}
		}
	}
	&__name {
		display: flex;
		flex-direction: column;
		@media (max-width: 900px) {
			justify-content: center;
		}
	}
	&__price {
		display: flex;
		flex-direction: row;
		gap: 5px;
		align-items: center;
		justify-content: start;

		@media (max-width: 1360px) {
			p {
				font-size: 16px !important;
			}
		}
		img {
			width: 32px;
		}
		p {
			font-weight: 600;
			font-size: 24px;
			color: #141416;
		}
	}
}

.column {
	display: flex;
	width: 100%;
	flex-direction: column;
	gap: 40px;
	li {
		padding-bottom: 25px;
		border-bottom: 2px #ebe9e9 solid;
	}
}
.gap-135 {
	gap: 135px;
}
