.top-nft {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	gap: 6.25rem;
	padding: 60px 0px 60px 0px;
	width: 100%;
	background-color: #f1f1f1;

	h2 {
		color: #c5c5c5;
	}
	&__slide {
		display: flex;
		flex-direction: column;
		width: 100%;
		overflow-x: clip;
		position: relative;
	}
	&__slide ul {
		display: flex;
		flex-direction: row;
		gap: 40px;
		transition: transform 0.4s ease;

		width: max-content;
	}
	&__buttons {
		background-color: #fcfcfd;
		position: relative;
		display: flex;
		flex-direction: row;
		padding: 21px;
		gap: 35px;
		border-radius: 16px;
		box-shadow: 40px 10px 60px 0 #c7c7c799;
	}
	&__buttons button {
		background-color: #fcfcfd;
		border: 0;
		outline: 0;
		cursor: pointer;
	}
}
.recent {
	position: absolute;
	top: 743px;
	right: 99px;
	width: auto;
}
